@import '../../../components/GlobalStyles/mixins.scss';

.main-header {
    width: 100%;
    padding: 0 20px;
    height: 90px;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    z-index: 99;
    @include md {
        padding: 0 40px;
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        max-width: 1200px;
        margin: 0 auto;
        @include md {
            height: 80px;
        }
        .left {
            display: flex;
            list-style-type: none;
            gap: 20px;
            @include md {
                display: flex;
            }
            li {
                font-size: 45px;
                font-weight: 800;
                cursor: pointer;
            }
        }
        .center {
            font-weight: 700;
            font-size: 22px;
            cursor: pointer;
            @include md {
                font-size: 34px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .right {
            display: flex;
            gap: 20px;
            align-items: center;
            @include md {
                gap: 25px;
            }
            svg {
                font-size: 20px;
                cursor: pointer;
                @include md {
                    font-size: 24px;
                }
            }
            .cart-icon {
                position: relative;
                span {
                    min-width: 20px;
                    text-align: center;
                    background-color: red;
                    padding: 2.5px;
                    position: absolute;
                    top: -5;
                    right: -12;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                }
            }
        }
    }
}
